*{
  font-family: helvetica;
  color: white;
}

body{
  background: url("..resources/images/sunset.jpg");
  background-size: 100%;
  background-repeat: repeat;
}

h1{
  font-size: 60px;
  line-height: 0px;
}

p{
  font-size: 12px;
}

li{
  font-size: 12px;
}

.header{
  text-align: center;
}

.footer{
  font-weight: bold;
}
